
.firstPages__container {
  max-width: 1366px;
  margin: 0 auto;
}

.firstPages__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center	;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 200px;
  width: 100%;
}

.firstPages__link{
  cursor: pointer;
  width: 400px;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 20px 0;
  color: #ffffff;
  background-color: #A0BFFA;
  font-size: 38px;
  line-height: 38px;
  margin-top: 90px;
  margin-bottom: 20px;
}

.firstPages__link2{
  cursor: pointer;
  width: 400px;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  padding: 20px 0;
  color: #ffffff;
  background-color: #A0BFFA;
  font-size: 38px;
  line-height: 38px;
  margin-top:20px ;
}

.firstPages__text{
  margin-left: 150px;
}

.first__content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width:  400px;
}

