.intro__register{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.register__link{
    cursor: pointer;
    width: 400px;
    height: 80px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 0;
    color: #ffffff;
    background-color:#A0BFFA;
    font-size: 38px;
    line-height: 38px;
}

.link__priem{
    margin-left: 145px;
    margin-top: 100px;
}